RewriteEngine on
RewriteBase /
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf|woff)$">
Header set Cache-Control "max-age=604800, public"
</FilesMatch>

<IfModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php|less)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</IfModule>